name: Tıp Haberleri Güncelle
on:
  schedule:
    - cron: '0 */6 * * *'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout depo
        uses: actions/checkout@v2

      - name: Haberleri Çek ve Kaydet
        run: |
          # Önce eski dosyayı sil ki yenisi kesin oluşsun
          rm -f haberler.json
          curl -L -s "https://api.rss2json.com/v1/api.json?rss_url=https%3A%2F%2Fmedicalxpress.com%2Frss-feed%2Ftransplant-news%2F" > haberler.json
          
          # Dosyanın gerçekten indiğini kontrol et
          ls -l haberler.json

      - name: Değişiklikleri Kaydet
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add haberler.json
          # Zaman damgası ekleyerek değişikliği zorla
          git commit -m "Haberler güncellendi: $(date)" || exit 0
          git push
